html,
body {
    background-color: #ffd755;
    font-family: Roboto;
}

@media screen and (max-width: 380px) {
    .brand {
        font-size: 0.8rem;
    }
    footer a {
        font-size: 0.7rem;
    }
    footer {
        height: 60px;
        text-align: center;
    }
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
    color: #f7cd5c;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.footerText {
    font-size: 1.21rem;
}
